/*Tipografías*/
h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
h1{
  font-size: 60px;
}
h2{
  font-size: 40px;
  padding-bottom: 2%;
}
h3{
  font-size: 25px;
}
p, li{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  
}
/*Colores*/
.nav-colored{
  background-color: #5670C3 !important;
  color: white !important;
}
.nav-transparent{
  background-color: transparent;
  color:  #5670C3 !important;
}
.bg-blue{
  background-color: #5670C3;
}
.bg-grey{
  background-color: #F8F8F8;
}
.c-grey{
  color: #637381;
}
.c-black{
  color:#0F0D0E;
}
.c-white{
  color: whitesmoke;
}
/*nav ul li a{
  color: white !important;
}*/

/*Estilos del sitio*/

html{
  scroll-behavior: smooth;
}
header{
  height: 100vh;
  /*background-image: url(https://images.unsplash.com/photo-1485988412941-77a35537dae4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1972&q=80),linear-gradient(to left  rgba(20,20,20,1));
  background-size: cover;
  background-position: center;*/
}
nav{
  z-index: 2000;
}
.title{
  margin-top: 200px; 
}
#img-header{
  margin-top: 150px;
  position: relative;
}
#img-header::before{
  content: "";
  background-color: #5670C3;
  position: absolute;
  width: 530px;
  height: 400px;
  z-index: -1;
  top: -30px;
  left: 70px;
}
.pd-section{
  padding: 5% 0;
}
.pd-services{
  padding: 5% 0;
  margin: 3% 0;
}
.txt-light{
  font-weight: 300;
}
footer span{
  background-color: whitesmoke;
  padding: 1%;
  color: #5670C3;
  font-size: 18px;
  font-weight: 500;
}
.carousel-indicators li{
  background-color: #5670C3;
}
.navbar-nav{
  margin-left: auto!important;
}

/*Media queries*/
@media (min-width: 992px) {
  .photo{
    max-width: 300px;
  }
}


