/*Tipografías*/
h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
h1{
  font-size: 60px;
}
h2{
  font-size: 45px;
}
h3{
  font-size: 30px;
}

p, li{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;

}
/*Colores*/
.bg-blue{
  background-color: #5670C3;
}
.bg-grey{
  background-color: #F8F8F8;
}
.c-grey{
  color: #637381;
}
.c-black{
  color:#0F0D0E;
}
.c-white{
  color: whitesmoke;
}


/*Estilos del sitio*/
header{
  height: 100vh;
  background-image:url(https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80);
  background-size: cover;
  background-position: center;
}
.title{
  padding-top: 17%; 
}
.pd-section{
  padding: 10% 0;
}
.pd-services{
  padding: 5% 0;
  margin: 3% 0;
}

.bg-irene{
  background-image: url("");
}

.bg-javiera{
  background-image: url("https://images.unsplash.com/photo-1464863979621-258859e62245?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=633&q=80");
}
.txt-light{
  font-weight: 300;
}




/*Media queries*/
@media (min-width: 992px) {
  .photo{
    max-width: 350px;
  }
}


